# المكتبات الأساسية لمعالجة البيانات
pandas
numpy

# المكتبات الخاصة بالرسوم البيانية والتحليل الاستكشافي (EDA)
matplotlib
seaborn
plotly

# المكتبة الخاصة بالنمذجة وهندسة الميزات
scikit-learn